<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=-1.0" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'"/>
<title>Borderless</title>
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.ico') }}">

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> 
 
  </head>


  <body class="main_body"  style="background-color:rgb(226, 226, 232); width: fit-content;">
  

<div class="login-container">
  <img id="previewImg" src="{{ url_for('static', filename='/imgs/logo.png') }}" class="site_banner"/>
  <p class="ide">   Borderless Charity</p>

 
</div>

<div class="newer_class">
  <h2 class="header1">

    <label>
      About US
      <a class="side_menu_items" href="localhost:5004"> 
    <br>

  </a>
  </h2>
  <h3 class="text_desc">
Who Is Borderless? We are  a compassionate group  organization founded in 2021 by a group of 
tourists who met in Africa  with a bold vision of creating a brighter future for
communities across the world.
We are dedicated to bringing clean water, improved sanitation, and essential school materials to regions in need, transcending borders to
make a positive impact.
Operating in multiple countries, we understand the importance of culturally sensitive and sustainable projects. 
We collaborate closely with local partners and communities to ensure that our efforts resonate with their needs, values, and aspirations.
At Borderless, we're not defined by geographical boundaries; we're united by a common purpose. By fostering transparency and accountability, 
we ensure that each donation and resource is utilized optimally, maximizing our positive impact on the lives we touch.

Join us in our journey across borders as we strive to transform lives and build a legacy of positive change. Together, we can bridge gaps,
break barriers, and make a difference that transcends borders. Welcome to  being a part of the Borderless family.


  </h3>
</label>
 <br>


  <h2 class="header1">

    <label>
      Sanitation
      <a class="side_menu_items" href="localhost:5004"> 
    <br>
    <img id="previewImg" src="{{ url_for('static', filename='/imgs/san.jpeg') }}" class="landing_pics"/>
  </a>
  </h2>
  <h3 class="text_desc">
    

 Recognizing the vital link between sanitation and health, we are committed to enhancing living conditions.
 Through the construction of sanitation facilities and waste management initiatives, we strive to create environments where individuals 
 can thrive without the burden of preventable illnesses.We also sensure that we have taught communities how to utilize resources found in
 their locality to generate sustaining income by offering teachings on Agriculture,tailoring,Ealry Childhood development, Micro-Economics
 and financial skills.  This way,the benefitiariesare able to support themselves and families as others earn jobs as trainners and instructors
 in our team.

  
   
   
  </h3>
</label>
  <br>





  <h2 class="header1">

    <label>
      AID For Conflict And Displacement Victims 
      <a class="side_menu_items" href=""> 
    <br>
    <img id="previewImg" src="{{ url_for('static', filename='/imgs/ref.jpg') }}" class="landing_pics"/>
  </a>
  </h2>
  <h3 class="text_desc">
    In the midst of conflicts, disasters, and the disintegration of communities, displaced people find themselves caught in the crossfire of
     circumstances beyond their control. The lives they once knew are torn asunder, replaced by the uncertainty of makeshift shelters and the ache 
     of disconnection. In these times of darkness, the group emerges as a lifeline, a refuge for the dispossessed.
     What sets this group apart is its dedication to not only immediate relief but also to long-term healing. They understand that 
     rebuilding lives requires more than temporary fixes; it demands a profound investment in emotional and psychological restoration. 
     Their volunteers provide a listening ear, a shoulder to lean on, and a gentle reminder that amidst the rubble, the human spirit remains
      unbreakable.

Their efforts extend beyond borders and languages, transcending cultural divides. They see the shared humanity in every face, in every tear,
 and in every smile that emerges from the depths of despair. In the eyes of the displaced, they reflect hope and the promise of a brighter tomorrow.

Through their tireless endeavors, this group becomes a symbol of unity in a fractured world. They teach us that amidst chaos, the act of 
extending a hand can bridge gaps and mend hearts. They are living proof that we are all capable of making a difference, no matter the scale,
 as long as we approach our actions with empathy and a genuine desire to uplift others.





  </h3>
</label>
  <br>


  <h2 class="header1">

    <label>
      Clean Water
      <a class="side_menu_items" href="{{ url_for('home') }}" alt="Photo By Noella Nyirabihogo"> 
    <br>
    <img id="previewImg" src="{{ url_for('static', filename='/imgs/water.jpeg') }}" class="landing_pics"/>
  </a>
  </h2>
  <h3 class="text_desc">
    As Borderless, we believe that access to clean water is the foundation of healthy communities. 
With Africa contributing up to 5% global air pollution it suffers the  most from the effects of climate change which can cause prolonged draughts in dry areas inhabited by mostly pastrolist communities. This makes its neccessary to dig boreholes and 
wells which can reduce the impact to the families and the cattle.
    Our passionate team is driven to implement sustainable water solutions in the Democratic Republic of Congo, Nigeria, Kenya, and Tanzania.
<br>Join us now in our journey to set up our 4th borehole for  water is a spark of hope for these communities.


  </h3>
</label>

<p style="font-size: 20px;" class="idex"> &#9764;  Over 3000 Lives Impacted  </p>

<p style="font-size: 20px;" class="idex">&#9972; Missions In Over 4 Countries  </p>

<p style="font-size: 20px;" class="idex">&#9829; Over 850+ Patrons and Sponsors   </p>

<p style="font-size: 20px;" class="idex">&#9923; Over $70,140 Raised And Used In Charity   </p>
  <br>


  
<div class="de_footer">
  <label class="fst_icon">
    <a class="side_menu_items" href="https://bwt.com/en/about-bwt/bwt-and-sports"> 
  <br>
  <img id="previewImg" src="{{ url_for('static', filename='/imgs/bwt.png') }}" class="em_icons"/>
    </a>
</label>

<label>
  <a class="side_menu_items" href="localhost:5004"> 
<br>
<img id="previewImg" src="{{ url_for('static', filename='/imgs/fb.png') }}" class="em_icons"/>
</a>

</label>

<label>
  <a class="side_menu_items" href="https://instagram.com/borderless_charity?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D "> 
<br>
<img id="previewImg" src="{{ url_for('static', filename='/imgs/ig.jpeg') }}" class="em_icons"/>
</a>

</label>
<br>
<br>




</div>
<div class="footer_text">
  <div class="de_text2">
  &#169; 2023 Borderless.All Rights Reserved.
  <br>
  <a href="{{ url_for('goods') }}"  class="su_btn" style="color: black;" > &#9951; Donate physical Goods.</a>
  <br>
  <a href="{{ url_for('contact') }}"  class="su_btn" style="color: black;" > Contact Us</a>
  <br>
  IUD-CHE 117-751-868
</div>
  </div>

</div>
<div class="donate-notification">

  <label>
    <a href="{{ url_for('donate') }}" style="text-decoration: none;"> 
      Join Our Course
  </a>
  </label>


</div>


</body>

</html>
