

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=-1.0" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'"/>
    <title>Borderless </title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.ico') }}">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> 
  
  </head>

  <body class="main_body"  style="background-color:rgb(226, 226, 232); width: fit-content;">



<div class="login-container">
  <img id="previewImg" src="{{ url_for('static', filename='/imgs/logo.png') }}" class="site_banner"/>
  <br>
  <br>
    <form method="POST" action=  "/login/">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="formr">
        <label class="lbl"  for="username">Email
            <br>
        <input name="email" type="email" required class="inputs" Placeholder="Email">
    </label>
      <br>
      <br>
      <label  class="lbl" for="password">Password
        <br>
        <input name="passcode" type="password" maxlength="50" minlength="8" required class="inputs"  Placeholder="Password">
    </label>

    <label>
         <br>
         <br>   
        <button type="submit" class="sub_btn"> Log In</button>
           
        </a>
            
    </label>

    
</form>
<br>
<br>

<a href="{{ url_for('register') }}" class="su_btn" style="text-decoration: none;"> Sign Up </a>
        <br>
        <br>

        Forgot Password?
        <br>
        <br>
         <a href="{{ url_for('reset_pass') }}"  class="su_btn" style="text-decoration: none;" > Request New Password</a>

        </div>



</body>

</html>